/* RESET */
* {
  margin: 0;
  padding: 0;
  font-size: 11pt;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #fff;
  box-sizing: border-box;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

/* SOCIAL ICONS */
.fa-whatsapp,
.fa-phone,
.fa-envelope {
  display: flex !important;
  margin-right: 5px;
}

/* FADEIN */

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes transition {
  0% {
    left: 100px;
    top: -50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes transition {
  0% {
    left: 100px;
    top: -50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes transition {
  0% {
    left: 100px;
    top: -50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes transition {
  0% {
    left: 100px;
    top: -50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation: fadeIn 500ms ease-in-out;
  -moz-animation: fadeIn 500ms ease-in-out;
  -o-animation: fadeIn 500ms ease-in-out;
  animation: fadeIn 500ms ease-in-out;
}

/* PRINCIPAL */
.principal {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #6a000a;
  background-image: url("images/forno.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 2000px rgba(106, 0, 10, 0.6);
}

.form {
  background-image: url("images/fumaca.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom 100px right 50%;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 70%, 0 50%);
}

.wrapper {
  width: 80%;
}

/* HOME */
.menu {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  width: 100%;
  background-color: #6a000a;
  padding: 40px 0;
  z-index: 7;
}

.logo-menu {
  position: absolute;
  left: 10%;
  top: 30px;
  z-index: 7;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 50%;
  margin-right: 10%-15px;
}

.menu li {
  display: inline;
  position: relative;
  padding: 10px 15px;
  border-right: 2px solid black;
}

li:last-child {
  border-right: none;
}

.logo .menu li:last-child {
  border-right: none;
  padding: 10px 0 15px 10px;
}

.menu li a {
  font-size: 14pt;
  text-align: center;
  padding: 14px 14px;
}

.menu li a:hover {
  font-weight: bold;
}

.home {
  height: 110vh;
  position: relative;
  z-index: 0;
}

.fita1 {
  position: absolute;
  width: 100%;
  height: auto;
  padding-top: 230px;
}

.fita2 {
  position: absolute;
  width: 100%;
  height: auto;
  padding-top: 550px;
  z-index: 5;
}

.fundo {
  position: relative;
  width: 600px;
  height: auto;
  -webkit-animation: spin 60s linear infinite;
  -moz-animation: spin 60s linear infinite;
  animation: spin 60s linear infinite;
  z-index: 4;
}

.logo {
  position: absolute;
  width: 175px;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.promo {
  margin-bottom: 50px;
  justify-content: center;
  align-items: flex-start;
}

.promo-img {
  margin: auto;
}

.promo-text {
  margin-left: 10px;
  margin-right: 40px;
}

.promo-text h1 {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 7px;
}

.promo-text ul {
  list-style: none; /* Remove list bullets */
  padding: 0;
  margin: 0;
}

.promo-text li {
  margin-left: 1em;
  list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAN0lEQVQoU2NkIBIwIqv7z8DwH5nPyMAAl4cz0BXBNMAUgxXiUoSseKAV4nMnimdgjiYqeAiFOwCJjBAL+kUG2wAAAABJRU5ErkJggg==");
}

.preco {
  background-color: white;
  height: 70px;
  clip-path: polygon(
    0 8%,
    83% 0,
    70% 10%,
    100% 5%,
    100% 90%,
    15% 100%,
    30% 80%,
    0 90%
  );
  padding: 10px;
  margin-top: 7px;
  justify-content: center;
  align-items: flex-start;
}

.preco h1,
.preco h2 {
  color: black;
}

.preco h2 {
  font-weight: 500;
}

.preco h1 {
  font-family: "Anton";
  font-size: 3em;
  line-height: 1em;
}

/* OFERTA ESPECIAL */
.oferta-esp {
  width: 100%;
  height: 382px;
  background-image: url("images/fundo-especial.png");
  background-size: contain;
}

.oferta-esp-text img {
  margin-bottom: 15px;
}

.oferta-esp-text h2 {
  font-size: 4em;
  font-weight: 900;
}

.oferta-esp-text ul {
  list-style: none; /* Remove list bullets */
  padding: 0;
  margin: 0;
  width: 50%;
}

.oferta-esp-text li {
  margin-left: 1em;
  list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAN0lEQVQoU2NkIBIwIqv7z8DwH5nPyMAAl4cz0BXBNMAUgxXiUoSseKAV4nMnimdgjiYqeAiFOwCJjBAL+kUG2wAAAABJRU5ErkJggg==");
}

.oferta-esp-img img {
  height: auto;
  width: 400px;
}

/* MAIS PEDIDAS */
.mais-pedidas {
  width: 100%;
  height: 600px;
  background-color: #6a000a;
  background-image: url("images/chef.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.mais-content {
  width: 100%;
  background-image: url("images/fogo2.png");
  background-position: bottom;
  background-color: #6a000a;
  box-shadow: inset 0 0 0 2000px rgba(106, 0, 10, 0.7);
}

.mais-wrapper {
  width: 80%;
  position: relative;
  top: -210px;
}

.title-pedidas {
  background-color: #6a000a;
  padding: 10px;
}

.title-pedidas {
  margin: 30px;
  font-size: 2em;
  font-weight: bold;
}

.pedidas-text {
  width: 100%;
  justify-content: space-around;
}

.pedidas-item {
  width: 350px;
}

.pedidas-text h1 {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 7px;
}

.preco-pedidas {
  width: 150px;
  margin-bottom: 40px;
}

.preco h3 {
  color: black;
  font-family: "Anton";
  font-weight: bold;
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 7px;
}

/* PREMIUM */
.premium {
  width: 100%;
  height: 300px;
  background-image: url("images/fogo.png");
  background-position: bottom;
  background-color: #6a000a;
  box-shadow: inset 0 0 0 2000px rgba(106, 0, 10, 0.7);
}

.fita-pr1 {
  position: relative;
  width: 100%;
  height: auto;
  top: -230px;
}

.coca {
  position: relative;
  transform: rotate(-10deg);
  z-index: 5;
  bottom: 280px;
}

.pizza-pr {
  position: relative;
  left: -80px;
  z-index: 4;
  bottom: 280px;
}
.premium-tex {
  position: relative;
  bottom: 280px;
}

.fita-pr2 {
  position: relative;
  width: 100%;
  height: auto;
  bottom: 350px;
}

/* FOOTER */
.footer {
  background-color: black;
}

.wrapper-foo {
  width: 80%;
  margin: 50px 0;
}

.logo-foo {
  width: 20%;
}
.texto-foo {
  float: right;
  text-align: center;
}

.wrapper-texto-foo {
  display: flex;
  flex-direction: row-reverse;
  width: 80%;
}

.texto-foo h1 {
  font-weight: bold;
}

.texto-foo h2 {
  font-size: 10pt;
}

.rule {
  width: 70%;
  padding-top: 10px;
  border-bottom: 2px solid #fff;
}

.numero {
  padding: 10px;
  padding-bottom: 0px;
}
.numero div .fa-phone,
.numero div .fa-envelope {
  margin-left: 20px;
  margin-right: 10px;
}

.numero h2 {
  margin-left: 10px;
}

/* PÁGINA DE CONTATO */
.bg {
  background-color: #6a000a;
}

.logo-cont {
  position: absolute;
  width: 123px;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -170%);
  z-index: 5;
}

.wrapper-contato {
  width: 75%;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 250px;
}

.form-pages {
  background-color: black;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 20%, 50% 45%, 0 20%);
}

.pag-contato {
  margin-top: 250px;
}

.pag-contato,
.pag-contato1,
.pag-contato2 {
  z-index: 4;
  width: 100%;
}

.pag-contato1 h1 {
  width: 100%;
  text-align: center;
  background-color: black;
  font-weight: bold;
  padding: 13px 0;
  border-radius: 8px;
  margin-bottom: 20px;
}

.contato-bt {
  background-color: white;
  border-radius: 15px;
  color: black;
  padding: 15px 0;
  margin: 10px 0;
  width: 75%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

.contato-bt h2 {
  color: black;
  margin-left: 10px;
}

.contato-bt:hover {
  background-color: rgb(255, 196, 0);
}

.pag-contato-ou h1 {
  padding: 10px;
  border-radius: 50px;
  border: 1px solid black;
  margin: 0 30px;
}

.pag-contato2 h1 {
  width: 100%;
  text-align: center;
  background-color: black;
  font-weight: bold;
  padding: 13px 0;
  border-radius: 8px;
  margin-bottom: 20px;
}

input[type="text"],
select {
  width: 48%; /* Full width */
  padding: 12px; /* Some padding */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 6px; /* Bottom margin */
  resize: vertical;
  color: black;
}
textarea {
  width: 100%; /* Full width */
  height: 150px;
  padding: 12px; /* Some padding */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 6px; /* Bottom margin */
  resize: vertical;
  color: black;
}

input[type="tel"] {
  float: right;
  width: 48%; /* Full width */
  padding: 12px; /* Some padding */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 6px; /* Bottom margin */
  resize: vertical;
  color: black;
}
input[type="email"] {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 6px; /* Bottom margin */
  resize: vertical;
  color: black;
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  width: 100%;
  background-color: #222121;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 6px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: rgb(255, 196, 0);
  font-weight: bold;
  color: black;
}

.fix-nome {
  width: 100%;
}

/* LOCALIZAÇÃO */

.pag-local {
  margin-top: 250px;
  z-index: 4;
  width: 100%;
}

.wrapper-local {
  width: 696px;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 70px;
}

.titulo-local h1 {
  color: white;
  font-size: 1.5em;
}

.titulo-local h2 {
  color: white;
  font-size: 2em;
  font-weight: bolder;
  margin-bottom: 10px;
}
.mapa {
  display: flex;
  width: 100%;
  position: relative;
  z-index: 2;
}

.mapa-border {
  position: relative;
  width: 100%;
  display: inline-block;
}

.mapa-border::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 99%;
  border: 1px solid rgba(255, 196, 0, 0.836);
  left: 15px;
  top: 10px;
  z-index: 1;
}

.texto-local {
  width: 100%;
  text-align: right;
  margin-top: 30px;
}

.texto-local h3 {
  width: 31%;
  padding: 10px 0;
  float: right;
  font-weight: bold;
  margin-top: 20px;
  border-top: 2px solid white;
}
