/* RESET */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: normal;
  box-sizing: border-box;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
h2 {
  font-size: 1em;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

/* SOCIAL ICONS */
.fa-whatsapp,
.fa-phone,
.fa-envelope {
  display: flex !important;
  margin-right: 5px;
}
/* PRINCIPAL */
.principal {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #6a000a;
}

.form {
  background-color: black;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 70%, 0 50%);
}

.wrapper {
  width: 80%;
}

/* HOME */
.menu {
  position: relative;
  justify-content: space-around;
  background-color: #6a000a;
  padding: 40px 20px;
  border-radius: 0 0 32px 32px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu li {
  display: inline;
  padding: 10px 15px;
  border-right: 2px solid white;
}

li:last-child {
  border-right: none;
}
.menu li a {
  font-size: 1.5em;
  text-align: center;
  padding: 14px 14px;
}

.menu li a:hover {
  color: rgb(255, 196, 0);
  font-weight: bold;
}

.home {
  height: 100vh;
  position: relative;
  z-index: 0;
}

.fundo {
  position: relative;
  width: 700px;
  height: auto;
  -webkit-animation: spin 60s linear infinite;
  -moz-animation: spin 60s linear infinite;
  animation: spin 60s linear infinite;
  z-index: 4;
}

.logo {
  position: absolute;
  width: 175px;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.promo {
  margin-bottom: 50px;
  justify-content: center;
  align-items: flex-start;
}

.promo-img {
  margin: auto;
}

.promo-text {
  margin-left: 10px;
  margin-right: 40px;
}

.promo-text h1 {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 7px;
}

.promo-text ul {
  list-style: none; /* Remove list bullets */
  padding: 0;
  margin: 0;
}

.promo-text li {
  margin-left: 1em;
  list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAN0lEQVQoU2NkIBIwIqv7z8DwH5nPyMAAl4cz0BXBNMAUgxXiUoSseKAV4nMnimdgjiYqeAiFOwCJjBAL+kUG2wAAAABJRU5ErkJggg==");
}

.preco {
  background-color: white;
  height: 70px;
  clip-path: polygon(
    0 8%,
    83% 0,
    70% 10%,
    100% 5%,
    100% 90%,
    15% 100%,
    30% 80%,
    0 90%
  );
  padding: 10px;
  margin-top: 7px;
  justify-content: center;
  align-items: flex-start;
}

.preco h1,
.preco h2 {
  color: black;
  font-weight: bold;
}

.preco h1 {
  font-size: 2.5em;
}

/* OFERTA ESPECIAL */
.oferta-esp {
  width: 100%;
  height: 400px;
  background-color: black;
}

.oferta-esp-text h2 {
  font-size: 4em;
  font-weight: 900;
}

.oferta-esp-text ul {
  list-style: none; /* Remove list bullets */
  padding: 0;
  margin: 0;
}

.oferta-esp-text li {
  margin-left: 1em;
  list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAN0lEQVQoU2NkIBIwIqv7z8DwH5nPyMAAl4cz0BXBNMAUgxXiUoSseKAV4nMnimdgjiYqeAiFOwCJjBAL+kUG2wAAAABJRU5ErkJggg==");
}

.oferta-esp-img img {
  height: auto;
  width: 400px;
}

/* MAIS PEDIDAS */
.mais-pedidas {
  width: 100%;
  background-color: #6a000a;
  background-image: url("images/chef.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.title-pedidas {
  background-color: #6a000a;
  padding: 10px;
}

.pedidas-content {
  margin-top: 500px;
}

.title-pedidas {
  margin: 30px;
  font-size: 2em;
  font-weight: bold;
}

.pedidas-text {
  width: 100%;
  justify-content: space-around;
}

.pedidas-text h1 {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 7px;
}

.preco-pedidas {
  width: 150px;
  margin-bottom: 40px;
}

.preco h3 {
  color: black;
  font-weight: bold;
  font-size: 2.4em;
  margin-bottom: 7px;
}

/* PREMIUM */

/* FOOTER */
.footer {
  background-color: black;
}

.wrapper-foo {
  width: 80%;
  margin: 70px 0;
}

.logo-foo {
  width: 50%;
}
.texto-foo {
  width: 50%;
}

.texto-foo h1 {
  font-weight: bold;
}
.rule {
  width: 70%;
  padding-top: 20px;
  border-bottom: 2px solid #fff;
}

.mail-foo {
  padding-top: 20px;
  width: 100%;
}

.mail-foo a {
  width: 100%;
}

.numero {
  padding: 20px;
  padding-bottom: 0px;
}

.numero h2 {
  margin: 0 10px;
}

/* PÁGINA DE CONTATO */
.bg {
  background-color: #6a000a;
}

.logo-cont {
  position: absolute;
  width: 175px;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -80%);
  z-index: 5;
}

.wrapper-contato {
  width: 80%;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 250px;
}

.form-pages {
  background-color: black;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 30%, 50% 70%, 0 30%);
}

.pag-contato {
  margin-top: 400px;
}

.pag-contato,
.pag-contato1,
.pag-contato2 {
  z-index: 4;
  width: 100%;
}

.pag-contato1 h1 {
  width: 100%;
  text-align: center;
  background-color: black;
  font-weight: bold;
  padding: 13px 0;
  border-radius: 8px;
  margin-bottom: 40px;
}

.contato-bt {
  background-color: white;
  border-radius: 15px;
  color: black;
  padding: 15px 0;
  margin: 10px 0;
  width: 65%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

.contato-bt h2 {
  color: black;
  margin-left: 10px;
}

.contato-bt:hover {
  background-color: rgb(255, 196, 0);
}

.pag-contato-ou h1 {
  padding: 10px;
  border-radius: 50px;
  border: 1px solid black;
  margin: 0 30px;
}

.pag-contato2 h1 {
  width: 100%;
  text-align: center;
  background-color: black;
  font-weight: bold;
  padding: 13px 0;
  border-radius: 8px;
  margin-bottom: 20px;
}

input[type="text"],
select {
  width: 48%; /* Full width */
  padding: 12px; /* Some padding */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 6px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
textarea {
  width: 100%; /* Full width */
  height: 150px;
  padding: 12px; /* Some padding */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 6px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type="tel"] {
  float: right;
  width: 48%; /* Full width */
  padding: 12px; /* Some padding */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 6px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
input[type="email"] {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 6px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  width: 100%;
  background-color: #fff;
  color: black;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 6px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: rgb(255, 196, 0);
  font-weight: bold;
}

.fix-nome {
  width: 100%;
}

/* LOCALIZAÇÃO */

.pag-local {
  margin-top: 400px;
  z-index: 4;
  width: 100%;
}

.wrapper-local {
  width: 55%;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 70px;
}

.titulo-local h1 {
  color: white;
  font-size: 2em;
}

.titulo-local h2 {
  color: white;
  font-size: 2.5em;
  font-weight: bolder;
  margin-bottom: 10px;
}
.mapa {
  width: 100%;
  position: relative;
  z-index: 2;
}

.mapa-border {
  position: relative;
  width: 100%;
  display: inline-block;
}

.mapa-border::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 99%;
  border: 1px solid rgba(255, 196, 0, 0.836);
  left: 15px;
  top: 10px;
  z-index: 1;
}

.texto-local {
  width: 100%;
  text-align: right;
  margin-top: 30px;
}

.texto-local h3{
  width: 31%;
  padding: 10px 0;
  float:right; 
  font-weight: bold;
  margin-top: 20px;
  border-top: 2px solid white;
}
