/* RESET */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: normal;
  box-sizing: border-box;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
h2 {
  font-size: 1em;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

/* SOCIAL ICONS */

/* PRINCIPAL */
.principal {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: darkred;
}

.form {
  background-color: black;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 70%, 0 50%);
}

.wrapper {
  width: 80%;
}

/* HOME */
.menu {
  position: relative;
  justify-content: space-around;
  background-color: darkred;
  padding: 40px 20px;
  border-radius: 0 0 32px 32px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu li {
  display: inline;
  padding: 10px 15px;
  border-right: 2px solid white;
}

li:last-child {
  border-right: none;
}
.menu li a {
  font-size: 1.5em;
  text-align: center;
  padding: 14px 14px;
}

.menu li a:hover {
  color: rgb(255, 196, 0);
  font-weight: bold;
}

.home {
  height: 100vh;
  position: relative;
  z-index: 0;
}

.fundo {
  position: relative;
  width: 700px;
  height: auto;
  -webkit-animation: spin 60s linear infinite;
  -moz-animation: spin 60s linear infinite;
  animation: spin 60s linear infinite;
  z-index: 4;
}

.logo {
  position: absolute;
  width: 175px;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.promo {
  margin-bottom: 50px;
  justify-content: center;
  align-items: flex-start;
}

.promo-img {
  margin: auto;
}

.promo-text {
  margin-left: 10px;
  margin-right: 40px;
}

.promo-text h1 {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 7px;
}

.promo-text ul {
  list-style: none; /* Remove list bullets */
  padding: 0;
  margin: 0;
}

.promo-text li {
  margin-left: 1em;
  list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAN0lEQVQoU2NkIBIwIqv7z8DwH5nPyMAAl4cz0BXBNMAUgxXiUoSseKAV4nMnimdgjiYqeAiFOwCJjBAL+kUG2wAAAABJRU5ErkJggg==");
}

.preco {
  background-color: white;
  height: 70px;
  clip-path: polygon(
    0 8%,
    83% 0,
    70% 10%,
    100% 5%,
    100% 90%,
    15% 100%,
    30% 80%,
    0 90%
  );
  padding: 10px;
  margin-top: 7px;
  justify-content: center;
  align-items: flex-start;
}

.preco h1,
.preco h2 {
  color: black;
  font-weight: bold;
}

.preco h1 {
  font-size: 2.5em;
}

/* OFERTA ESPECIAL */
.oferta-esp {
  width: 100%;
  height: 400px;
  background-color: black;
}

.oferta-esp-text h2 {
  font-size: 4em;
  font-weight: 900;
}

.oferta-esp-text ul {
  list-style: none; /* Remove list bullets */
  padding: 0;
  margin: 0;
}

.oferta-esp-text li {
  margin-left: 1em;
  list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAN0lEQVQoU2NkIBIwIqv7z8DwH5nPyMAAl4cz0BXBNMAUgxXiUoSseKAV4nMnimdgjiYqeAiFOwCJjBAL+kUG2wAAAABJRU5ErkJggg==");
}

.oferta-esp-img img {
  height: auto;
  width: 400px;
}

/* MAIS PEDIDAS */
.mais-pedidas {
  width: 100%;
  background-color: darkred;
  background-image: url("images/chef.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.title-pedidas {
  background-color: darkred;
  padding: 10px;
}

.pedidas-content {
  margin-top: 500px;
}

.title-pedidas {
  margin: 30px;
  font-size: 2em;
  font-weight: bold;
}

.pedidas-text {
  width:100%;
  justify-content: space-around;
}

.pedidas-text h1 {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 7px;
}

.preco-pedidas {
  width: 150px;
}

.preco h3 {
  color: black;
  font-weight: bold;
  font-size: 2.4em;
  margin-bottom: 7px;
}

